*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: 'poppins', sans-serif;

}
a{
    text-decoration: none;
    color: #5a5a5a;

}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
/* ////###########// mane navber //#######// */
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;


}
/* ////###########// for right navber //#######// */
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin: 0;


}
/* ////###########// for lift navber //#######// */
.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;

}
.nav-left .logo{
    width: 130px;

}
/* ////###########// for middle navber //#######// */
.nav-middle .mic-iocn{
    width: 16px;
}
.nav-middle .search-box{
    border: 3px solid rebeccapurple;
    border-radius: 25px;
    margin: 15px;
    padding: 8px 12px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
/* ////###########// for sidebar //#######// */

.sidebar{
    background: white;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top:100px ;


}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a:first-child{
    color:red;
}
.sidebar hr{
    border: 1px;
    height: 2px;
    background: black;
    width: 70%;

}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.subscribed-list a img{
    width: 25px;
    border-radius:50%;
    margin-right: 20px;
}
/* ///########## sidebar smale/////// */
.small-sidebar{
    width: 5%;

}
.small-sidebar a p{
    display: none;

}
.small-sidebar h3{
    display: none;

}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}


/* ##########// for main //########## */
.container{
    background: #f9f9f9;
    padding-left: 16%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
/* ##########// for main  pic 2//########## */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px ;
    grid-row-gap: 30px;
    margin-top: 15px;

}

.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}

.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vid-info{
    color: #5a5a5a;
    font-size: 13px;


}
.vid-info a{
    color: #000;
    font-size: 600;
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 900px){
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;

    }
    .container, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
    .nav-middle .mic-iocn{
        display: none;
    }
    .logo{
        width: 90px;
    }
}
/* //////////// its for video///////// */

.play-container{
    padding: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;

}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.side-video-list .small-sh{
    width: 40%;
    flex-basis: 30%;
    margin-bottom: 2%;
    
}
/* ///#####// tis for tags video//////// */

.play-video .tags{
    color: blue;
    font-size: 13px;
}
.play-video h3{
    font-size: 22px;
    font-weight: 600;
}
/* //// its for like and shear///// */
.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
}
.play-video .play-video-info a {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
/* ////////// its for buten and subscribers////// */
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.plublisher div{
    flex: 1;
}
.plublisher img{
    width: 40px;
    border-radius: 40%;
    margin-right: 15px;
}
.plublisher div p{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.plublisher button{
    background: red;
    color: white;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}
.vid-description{
    padding: left 55px; 
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;

}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top:10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;

}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;

}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
.old-comment .acomment-action a{
    color: blue;
}

/* ////// media///// */
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding: left 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}